*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 50px 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: cornflowerblue;
  color: snow;
}

h1{
  font-size: 3rem;
  margin-bottom: 30px;
}

h2{
  margin-bottom: 10px;
}

hr{
  margin-bottom: 20px;
}

input[type="number"]{
  width: 250px;
}

input[type="number"]:focus{
  outline: none;
}

select,
input,
button{
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: mediumspringgreen;
}

button:hover{
  opacity: .8;
  outline: 1px solid black;
}